<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원목록</h1>
<table border="1" width="th" >
    <thead>
        <tr>
            <th>이름</th>
            <th>주소</th>
            <th>번호</th>
        </tr>
    </thead>
    <tbody th:each="d:${list}">
        <tr>
            <td th:text="${d.name}"></td>
            <td th:text="${d.address}"></td>
            <td th:text="${d.phone}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>